<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/shared/_layout}">
<head>
    <title>Danh sách cuộc hẹn</title>
</head>
<body>
<div layout:fragment="body">
    <h1 class="mt-4">Danh sách cuộc hẹn</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách cuộc hẹn</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <a type="button" class="btn btn-primary" th:href="@{/services/new}">Thêm mới</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách cuộc hẹn
        </div>
        <div class="card-body">
            <table id="appointmentsTable">
                <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên khách hàng</th>
                    <th>Địa điểm</th>
                    <th>Trạng thái</th>
                    <th>Thời gian hẹn</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${pagedResult.data}">
                    <th th:text="${appointment.id}"></th>

                    <th th:text="${appointment.customerFullName}"></th>

                    <th th:text="${appointment.location.getValue()}"></th>

                    <th th:text="${appointment.status.getValue()}"></th>
                    <th th:text="${#temporals.format(appointment.appointmentTime, 'dd-MM-yyyy HH:mm')}"></th>
                    <th>
                        <a th:href="@{/appointments/{appointmentId}/details(appointmentId=${appointment.id})}" title="Xem chi tiết" class="btn btn-primary text-white">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <ul class="pagination justify-content-center mb-0">
                <li class="page-item" th:if="${pagedResult.isEmpty()}">
                    <a class="page-link" th:href="@{/appointments?pageIndex=0}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${pagedResult.hasPrevious()}">
                    <a class="page-link"
                       th:text="${pagedResult.pageIndex - 1}"
                       th:href="@{|/appointments?pageIndex=${pagedResult.pageIndex - 1}|}"></a>
                </li>

                <li class="page-item disabled"><a class="page-link" th:text="${pagedResult.pageIndex}"></a></li>

                <li class="page-item" th:if="${pagedResult.hasNext()}">
                    <a class="page-link" th:text="${pagedResult.pageIndex + 1}"
                       th:href="@{|/appointments?pageIndex=${pagedResult.pageIndex + 1}|}"></a>
                </li>

                <li class="page-item" th:if="${pagedResult.isEmpty()}">
                    <a class="page-link" th:href="@{|/appointments?pageIndex=${pagedResult.totalPages - 1}|}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/appointments/index.js}"></script>
</div>
</body>
</html>