<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/shared/_layout}">
<head>
    <title>Dịch vụ Spa</title>
</head>
<body>
<div layout:fragment="body">
    <h1 class="mt-4">Dịch vụ [[${spaService.getName()}]]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="breadcrumb-item"><a th:href="@{/services}">Dịch vụ Spa</a></li>
        <li class="breadcrumb-item active" th:text="${spaService.getName()}"></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body d-flex gap-2">
            <a type="button" class="btn btn-primary"
               th:href="@{/services/{serviceId}/edit(serviceId=${spaService.getId()})}">
                <i class="fa-solid fa-pen"></i>
            </a>

            <a type="button" class="btn btn-warning text-white">
                <i class="fa-solid fa-dollar-sign"></i>
            </a>

            <form method="POST" th:action="@{/services/delete}">
                <input type="hidden" th:value="${spaService.getId()}" name="serviceId" />
                <button class="btn btn-danger text-white" type="submit">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>

            <a type="button" class="btn btn-danger" th:href="@{/services}">Trở về</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa-solid fa-paw"></i>
            [[${spaService.getName()}]]
        </div>
        <div class="card-body">
            <table class="table table-striped-columns">
                <tbody>
                    <tr>
                        <td><b>Mã dịch vụ:</b></td>
                        <td class="w-75" th:text="${spaService.getId()}"></td>
                    </tr>

                    <tr>
                        <td><b>Tên dịch vụ:</b></td>
                        <td th:text="${spaService.getName()}"></td>
                    </tr>

                    <tr>
                        <td><b>Mô tả dịch vụ:</b></td>
                        <td th:text="${spaService.getDescription()}"></td>
                    </tr>

                    <tr>
                        <td><b>Giá cả mặc định (VND):</b></td>
                        <td th:text="${spaService.getDefaultPrice()}"></td>
                    </tr>

                    <tr>
                        <td><b>Số phút hoàn thành ước lượng mặc định:</b></td>
                        <td th:text="${spaService.getDefaultEstimatedCompletionMinutes()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div layout:fragment="scripts">

</div>
</body>
</html>