<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/shared/_layout}">
<head>
    <title>Dịch vụ Spa</title>
</head>
<body>
<div layout:fragment="body">
    <h1 class="mt-4">Chỉnh sửa dịch vụ [[${spaService.getName()}]]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="breadcrumb-item"><a th:href="@{/services}">Dịch vụ Spa</a></li>
        <li class="breadcrumb-item active" th:text="${spaService.getName()}"></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body d-flex gap-2">
            <a type="button" class="btn btn-danger"
               th:href="@{/services/{serviceId}/details(serviceId=${spaService.getId()})}">
                Trở về
            </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa-solid fa-paw"></i>
            [[${spaService.getName()}]]
        </div>
        <div class="card-body">

        </div>
    </div>
</div>

<div layout:fragment="scripts">

</div>
</body>
</html>