<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/shared/_layout}">
<head>
    <title>Dịch vụ Spa</title>
</head>
<body>
<div layout:fragment="body">
    <h1 class="mt-4">Chỉnh sửa dịch vụ [[${spaService.getName()}]]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="breadcrumb-item"><a th:href="@{/services}">Dịch vụ Spa</a></li>
        <li class="breadcrumb-item active" th:text="${spaService.getName()}"></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body d-flex gap-2">
            <a type="button" class="btn btn-danger"
               th:href="@{/services/{serviceId}/details(serviceId=${spaService.getId()})}">
                Trở về
            </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa-solid fa-paw"></i>
            [[${spaService.getName()}]]
        </div>
        <div class="card-body">
            <h3 class="mt-1 mb-3">Thông tin tổng quát</h3>

            <form method="POST" th:action="@{/services/{serviceId}/edit/general(serviceId=${spaService.getId()})}" th:object="${generalRequest}">
                <div class="mb-3">
                    <label for="name" class="form-label">Tên dịch vụ</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Mô tả</label>
                    <textarea class="form-control" id="description" th:field="*{description}" rows="4"></textarea>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Giá mặc định (VND)</label>
                    <input type="number" class="form-control" id="price" th:field="*{defaultPrice}">
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('defaultPrice')}" th:errors="*{defaultPrice}"></div>
                </div>

                <div class="mb-3">
                    <label for="minutes" class="form-label">Số phút hoàn thành ước lượng (phút)</label>
                    <input type="number" class="form-control" id="minutes" th:field="*{defaultEstimatedCompletionMinutes}">
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('defaultEstimatedCompletionMinutes')}" th:errors="*{defaultEstimatedCompletionMinutes}"></div>
                </div>

                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>

            <hr>

            <h3 class="mt-4 mb-3">Chi tiết dịch vụ</h3>

            <div th:each="detail : ${serviceDetails}" th:with="randId=${#strings.randomAlphanumeric(10)}">
                <form method="POST" th:id="${randId}" th:action="@{/services/{serviceId}/delete/detail(serviceId=${spaService.getId()})}">
                    <input type="hidden" name="minWeight" th:value="${detail.getMinWeight()}">
                    <input type="hidden" name="maxWeight" th:value="${detail.getMaxWeight()}">
                </form>

                <form class="mb-4" method="POST" th:action="@{/services/{serviceId}/edit/detail(serviceId=${spaService.getId()})}">
                    <div class="fw-bolder">Cân nặng thú cưng từ
                        <span th:text="${#numbers.formatDecimal(detail.getMinWeight(), 1, 1)}"></span> đến
                        <span th:text="${#numbers.formatDecimal(detail.getMaxWeight(), 1, 1)}"></span> kg:</div>

                    <input type="hidden" name="minWeight" th:value="${detail.getMinWeight()}">
                    <input type="hidden" name="maxWeight" th:value="${detail.getMaxWeight()}">

                    <div class="d-flex flex-row gap-4">
                        <div>
                            <label class="form-label">Giá dịch vụ:</label>
                            <input required type="number" class="form-control" name="price" th:value="${detail.getPrice()}">
                        </div>

                        <div>
                            <label class="form-label">Thời gian hoàn thành:</label>
                            <input required type="number" class="form-control" name="estimatedCompletionMinutes" th:value="${detail.getEstimatedCompletionMinutes()}">
                        </div>
                    </div>

                    <div class="d-flex mt-2 gap-2">
                        <button type="submit" th:form="${randId}" class="btn btn-danger">Xoá</button>
                        <button class="btn btn-primary" type="submit">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script th:if="${error != null}">
        const errorMsg = "[[${error}]]";

        Swal.fire({
            icon: 'error',
            title: 'Lỗi',
            text: errorMsg
        });
    </script>
</div>
</body>
</html>