<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/shared/_layout}">
<head>
    <title>Dịch vụ Spa</title>
</head>
<body>
<div layout:fragment="body">
    <h1 class="mt-4">Dịch vụ [[${spaService.getName()}]]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        <li class="breadcrumb-item"><a th:href="@{/services}">Dịch vụ Spa</a></li>
        <li class="breadcrumb-item active" th:text="${spaService.getName()}"></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body d-flex gap-2">
            <a type="button" class="btn btn-primary"
               th:href="@{/services/{serviceId}/edit(serviceId=${spaService.getId()})}">
                Sửa
            </a>

            <form method="POST" th:action="@{/services/delete}">
                <input type="hidden" th:value="${spaService.getId()}" name="serviceId" />
                <button class="btn btn-danger text-white" type="submit">
                    Xoá
                </button>
            </form>

            <a type="button" class="btn btn-danger" th:href="@{/services}">Trở về</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa-solid fa-paw"></i>
            [[${spaService.getName()}]]
        </div>
        <div class="card-body">
            <table class="table table-striped-columns">
                <tbody>
                    <tr>
                        <td><b>Mã dịch vụ:</b></td>
                        <td class="w-75" th:text="${spaService.getId()}"></td>
                    </tr>

                    <tr>
                        <td><b>Tên dịch vụ:</b></td>
                        <td th:text="${spaService.getName()}"></td>
                    </tr>

                    <tr>
                        <td><b>Mô tả dịch vụ:</b></td>
                        <td th:text="${spaService.getDescription()}"></td>
                    </tr>

                    <tr>
                        <td><b>Giá cả mặc định (VND):</b></td>
                        <td th:text="${spaService.getDefaultPrice()}"></td>
                    </tr>

                    <tr>
                        <td><b>Số phút hoàn thành ước lượng mặc định:</b></td>
                        <td th:text="${spaService.getDefaultEstimatedCompletionMinutes()}"></td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h3 class="mt-4 mb-3">Chi tiết dịch vụ</h3>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cân nặng</th>
                    <th>Giá tiền (VND)</th>
                    <th>Thời gian hoàn thành ước lượng (phút)</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="detail : ${serviceDetails}">
                    <td>
                        Từ
                        <span th:text="${#numbers.formatDecimal(detail.minWeight, 1, 1)}"></span> đến
                        <span th:text="${#numbers.formatDecimal(detail.maxWeight, 1, 1)}"></span> kg
                    </td>
                    <th th:text="${#numbers.formatCurrency(detail.price)}"></th>
                    <th th:text="${#numbers.formatDecimal(detail.estimatedCompletionMinutes,1,1)}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script th:if="${error != null}">
        const errorMsg = "[[${error}]]";

        Swal.fire({
            icon: 'error',
            title: 'Lỗi',
            text: errorMsg
        });
    </script>
</div>
</body>
</html>